<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0px;">
    <div style="background-color:red;color:white;text-align:center;padding:10px;">
        <div class="container">
            <div class="row">
                <div class="col" style="font-weight:bold;font-size:20px;">
                    <span>7078773442 / 8171347666</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Since 2010</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Provides Transportation for ALL OVER INDIA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>
    <div class="container">
        <div class="row" style="padding-bottom:20px;background-color:red;color:white;margin-top:20px;">
            <div class="row">
                <div class="col-sm-12" style="text-align:center;text-decoration:none;">
                    <h5><span style="font-weight:bold;">Office: </span>K-44, Transport Nagar, Dehradun,  Uttarakhand, 248001</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align:center;text-decoration:none;">
                    <h5><span style="font-weight:bold;">Home: </span>95, Patel Nagar, Dehradun, Uttarakhand, 248001</h5>
                </div>
            </div>
        </div>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
